{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/scritps/gpstracker.js"></script>

{% if current_user.trackers.count() > 0 %}
GPS trackers:<br>
{% for gpstracker in current_user.trackers %}
{% if gpstracker.friendly_name%}
{{gpstracker.friendly_name}}  : {{gpstracker.bootstrapped}} : {{gpstracker.bootstrap_code}} {% if gpstracker.bootstrapped == false %}  <button type="submit" onclick="window.location='gpstrackerconfig/{{gpstracker.id}}'">Download config</button>  {% else %} <button type="submit" onclick="window.location='gpslocation.html#{{gpstracker.id}}'">Show Location</button>  {% endif %}
{% else %}
{{gpstracker.tracker_name}}  : {{gpstracker.bootstrapped}} : {{gpstracker.bootstrap_code}} {% if gpstracker.bootstrapped == false %} <button type="submit" onclick="window.location='gpstrackerconfig/{{gpstracker.id}}'">Download config</button>  {% else %} <button type="submit" onclick="window.location='gpslocation.html#{{gpstracker.id}}'">Show Location</button>  {% endif %}
{% endif %}
{% endfor %}
{% else %}
You have no GPS tracker registered :(  
{% endif %}
<br>
<button type="button" onclick="addGPSTracker()">Add tracker!</button> 

{% endblock %}

